#editor {
    min-height: 100px;
}

/* char counter */
.charCounter {
    padding-top: 5px;
}

/*product description*/
.pdInput {resize:none;width:580px; height: 220px;}

.preview * {font-size: 15px; font-family:arial, sans-serif;}
.previewContent {background-color: #f3f3f3; padding: 10px;}